%section.success#about
  .container
    .row
      .col-lg-12.text-center
        %h2= t('about')
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p= t('about_text_1_html')
      .col-lg-4
        %p= t('about_text_2_html')
