%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2= t('contact')
        %hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2
        %p= t('contact_intro_html', about: (link_to "About", ('#about')))
