%header
  .container
    .row
      .col-lg-12
        %img.img-responsive{ :alt => "profile", :src => image_path("profile.png") }/
        .intro-text
          %span.name= t('title')
          %span.skills= t('welcome_intro')
    .row
      %ul.list-inline.text-center
        %li
          %a.btn-social.btn-outline{ href: "https://twitter.com/intent/follow?screen_name=BastienBARBE" }
            %i.fa.fa-twitter.fa-fw
        %li
          %a.btn-social.btn-outline{ href: "https://github.com/BastienBABAR" }
            %i.fa.fa-github.fa-fw
        %li
          %a.btn-social.btn-outline{ href: "https://www.linkedin.com/profile/view?id=371794916" }
            %i.fa.fa-linkedin.fa-fw
