%section.success#learnings
  .container
    .row
      .col-lg-12.text-center
        %h2= t('learnings')
        %hr.star-light
    .row
      .col-lg-12.text-center
        .code-school
          - @learnings.each do |l|
            %p.title= t('code_school_score_html') + " #{l.user.score}"
            .row
              .col-lg-12.text-center
                %ul
                  - l.courses.each do |c|
                    %li
                      %a{ target: "_blank", href: c['url'], title: c['title'] }
                        %img.img-circle.img-responsive{ alt: c['title'],
                          src: c['badge'] }/
                      %p= c['title']
