@import "bootstrap-sprockets"
@import "bootstrap"
@import "variables"

html
  overflow-y: scroll

section
  overflow: auto
  padding-top: 4em

.center, h1, h2
  text-align: center

/* typography

/* footer

footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid gray
  color: $color1
  a
    color: $color1
    &:hover
      color: $color4

/* forms

#error_explanation ul
  list-style: none
  margin: 0 0 18px 0

/* miscellaneous

.debug_dump
  float: left
  width: 100%
  margin-top: 45px

.field_with_errors
  @extend .has-error

p
  text-align: center

body
  background-image: url("background.png")
  background-repeat: no-repeat
  background-size: cover
  font-family: "Rockwell", sans-serif
  font-size: 16px
  color: $color1
  font-weight: bold

.navbar-default
  background-color: $color1
  border-color: $color1

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
  color: $color1
  background-color: #FFFFFF

.navbar-default .navbar-nav > li > a
  color: $color2
  &:hover
    color: $color3

.navbar-default .navbar-brand
  color: $color2
  &:hover
    color: $color3
