@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

/* typography */

h1, h2 {
  text-align: center;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
}

/* forms */

.field_with_errors {
  @extend .has-error;
}

#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* miscellaneous */

.debug_dump {
  float: left;
  width: 100%;
  margin-top: 45px;
}